*{
  border-radius: 0px !important;
  font-family: "PingFang SC"
  /* font-family: "Futura Std" */
}
#caption{
  font-size: 1.25rem;
  position: relative;
  top:-1.3px;
  text-decoration-color: lightsalmon;
  text-decoration: underline;
  letter-spacing: 0.57px;
}
#topNav{
  box-shadow: 0 0 1em 0.5ex rgba(17, 17, 17, 0.5);
  padding: 0.5rem 3rem;
  border-top: 4px solid #3498DB;
  user-select: none;
}
.navbar-nav .nav-link{
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  font-size: 1.05rem;
}
nav .dropdown-menu{
  top: 3rem;
}
